variables:
  CI_IMAGE_TAG: "opengl"
  MODERNGL_DEBUGGING: "true"
  JULIA_DEPOT_PATH: "$CI_PROJECT_DIR/.julia/"
  CI_DEV_PKGS: "Makie#master AbstractPlotting#master GLMakie#master StatsMakie#master"

stages:
  - test
  - documentation
  - refimages

gallerytest:
  stage: test
  image: "juliagpu/julia:v1.2-${CI_IMAGE_TAG}"
  before_script:
      - apt-get -qq update
      # glfw
      - apt-get install -y cmake xorg-dev mesa-utils p7zip-full

  script:
    - mkdir $JULIA_DEPOT_PATH # Pkg.jl#325
    - glxinfo | grep 'version'
    - julia -e 'using InteractiveUtils; versioninfo()'
    - julia --project -e "using Pkg;
                          pkg\"add $CI_DEV_PKGS\""
    - julia --project -e 'using Pkg; pkg"test"'

  artifacts:
    when: on_failure
    paths:
      - test/tested_different
      - test/test_recordings
    expire_in: 4 days

deploydocs:
  stage: documentation
  image: "juliagpu/julia:v1.2-${CI_IMAGE_TAG}"
  when: always
  variables:
    DOCUMENTER_DEBUG: "true"

  before_script:
      - apt-get -qq update
      # glfw
      - apt-get install -y p7zip-full
  script:
    - mkdir $JULIA_DEPOT_PATH # Pkg.jl#325
    - julia --project -e "using Pkg;
                          pkg\"add $CI_DEV_PKGS\""
    - julia --project -e 'using Pkg;Pkg.add(PackageSpec(url = "https://github.com/asinghvi17/Documenter.jl", rev = "as/generic-ci"))'
    - julia --project docs/make.jl
  artifacts:
    paths:
      - docs/build
    expire_in: 2 days
